<!doctype html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
    <title>JSON 推播測試</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
    <input id="targetChatID" type="text" placeholder="收訊ID" /><br>
    <textarea id="message" placeholder="訊息內容"></textarea><br>
    <input id="botID" type="text" placeholder="推播機器人" /><br>
    <button id="submitButton" type="button"></button>
    <button id="resetButton" type="button"></button>
</body>

</html>